@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/iranyekanwebregular.eot');
	src: url('../fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('../fonts/woff2/iranyekanwebregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('../fonts/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('../fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}
body{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: iranyekan;
	font-size: 12px;
	overflow: hidden;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	direction: rtl;
	/*-webkit-filter: blur(5px);*/
	z-index: -2;
}
.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: -1;
	opacity: 0.9;
}
.header{
	position: absolute;
	top: calc(50% - 180px);
	right: calc(50% - 260px);
}
.header div{
	float: left;
	color: #fff;
	font-family: iranyekan,'Exo', sans-serif;
	font-size: 20px;
	font-weight: 200;
}
.header div span{
	color: #5379fa !important;
}
::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}
.info{
	position: absolute;
	top: calc(140%);
	right: calc(0%);
}
#logo{
	background-image: url("../img/kashanuni_logo.png");
	position: absolute;
	top: calc(7%);
	right: calc(10%);
	width : 113px;
	height:119px;

}
.myButton {
	background-color:#5cbf2a;
	-moz-border-radius:34px;
	-webkit-border-radius:34px;
	border-radius:34px;
	color:#ffffff;
	font-family:Arial;
	font-family: iranyekan,Arial;
	font-size:18px;
	padding:16px 32px;
	text-decoration:none;
	position: absolute;top: calc(55%);right: calc(41%);
}
.myButton:hover {
	background-color:#5cd11e;
}
/* */

.form {
	background: rgba(19, 35, 47, 0.9);
	padding: 40px;
	max-width: 600px;
	margin: 160px auto;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
h1 {
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	margin: 0 0 40px;
}

label {
	position: absolute;
	-webkit-transform: translateY(6px);
	transform: translateY(6px);
	right: 13px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 15px;
}
label .req {
	margin: 2px;
	color: #1ab188;
}

label.active {
	display:none!important;
}
label.active .req {
	opacity: 0;
}
label.highlight {
	color: #ffffff;
}
input, textarea {
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	font-family: iranyekan!important;
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #ffffff;
	border-radius: 0;
	-webkit-transition: border-color .25s ease, box-shadow .25s ease;
	transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
	outline: 0;
	border-color: #1ab188;
}

textarea {
	border: 2px solid #a0b3b0;
	resize: vertical;
}

.field-wrap {
	position: relative;
	margin-bottom: 40px;
}

.top-row:after {
	content: "";
	display: table;
	clear: both;
}
.top-row > div {
	float: right;
	width: 48%;
	margin-left: 4%;
}
.top-row > div:last-child {
	margin: 0;
}

.button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 15px 0;
	font-size: 20px;
	background: #1ab188;
	color: #ffffff;
}
.button:hover, .button:focus {
	background: #179b77;
}

.button-block {
	display: block;
	width: 100%;
	font-family: iranyekan;
}
*, *:before, *:after {
	box-sizing: border-box;
}