@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../../../fonts/eot/iranyekanwebregular.eot');
    src: url('../../../fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../../fonts/woff2/iranyekanwebregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../../fonts/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../../fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}
body {
    font-family: iranyekan,'Open Sans', sans-serif;
    line-height:25px;
}

#wrapper {
    width: 100%;
    background: #202020;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 300px;
    background: #F3F3F3;
}

#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    /*background-color: #fff!important;*/
    text-align:right;
    padding: 10px;
    min-height: 467px;
}
/*==============================================
    MENU STYLES    
    =============================================*/
nav ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
}

nav > ul > li > a {
    color: #aaa;
    display: block;
    margin-right:10px;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}
nav > ul > li > a > .caret {
    border-top: 4px solid #aaa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}
nav > ul > li:hover {
    background-color: rgb( 40, 44, 47 );
    text-decoration: none;
}

nav > ul > li:hover > a {
    color: rgb( 255, 255, 255 );
    text-decoration: none;
}

nav > ul > li:hover > a > .caret {
    border-top-color: rgb( 255, 255, 255 );
}
nav > ul > li > div {
    background-color: rgb( 40, 44, 47 );
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 165px;
    visibility: hidden;
    z-index: 100;

    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

nav > ul > li > div ul > li {
    display: block;
    text-decoration: none;
}

nav > ul > li > div ul > li > a {
    color: #fff!important;
    display: block;
    padding: 12px 24px;
    text-decoration: none;
}

nav > ul > li > div ul > li:hover > a {
    background-color: rgba( 255, 255, 255, 0.1);
    text-decoration: none;
}
nav > ul > li:hover > div {
    display: block;
    opacity: 1;
    visibility: visible;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
    text-align:right;
    direction: rtl;
}
/* ///////////////////////////////////////////////// */

/*==============================================
    FOOTER  STYLES    
    =============================================*/
#footer-sec {
    background-color:#000;
    padding:20px 50px;
    color:#fff;
    font-size:12px;
    text-align: center;
}

    #footer-sec a {
        color:#fff;
    }
    #footer-sec a:hover,a:focus {
        color:#fff;
        text-decoration:none;
    }
/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media (min-width:768px) {
    #page-wrapper {
        padding: 15px 30px;
        min-height: 300px;
        max-height:900px;
    }
    .navbar-side {
        position: relative;
        float:right;
        width: 260px;
        text-align: right;
    }
    .navbar {
        border-radius: 0px;
    }
}